In [1]:
import numpy as np
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder
import time
from pyECLAT import ECLAT

## Pre-processing CSV File

In [2]:
# Open the CSV file
with open("D:\\393- assignment\\grocery_transactions.csv", newline='') as csvfile:

    # Read the CSV file into a dictionary
    data = csv.DictReader(csvfile)

    # Create an empty list to hold the transactions
    transactions = []

    # Loop through each row in the CSV file
    for row in data:
        
        # Create a list to hold the items in this transaction
        transaction_items = []
        
        # Loop through each column in the row (excluding the first column, which is the transaction ID)
        for column in list(row.keys())[1:]:
            
            # If the item in this column is not empty, add it to the list of items in this transaction
            if row[column] != '':
                transaction_items.append(row[column])
        
        # Add this transaction to the list of transactions
        transactions.append(transaction_items)

In [3]:
#convert transactions into dataframe
data = pd.DataFrame(transactions)
data

              0         1         2         3         4         5        6
0        cheese      beef   bananas      rice   lettuce    apples    bread
1         pasta  potatoes  tomatoes   bananas      beef   lettuce   cheese
2          beef      eggs      pork  tomatoes      milk    apples  chicken
3          beef   carrots     bread     pasta  tomatoes      milk   onions
4          pork      beef    apples   lettuce      eggs      milk  bananas
...         ...       ...       ...       ...       ...       ...      ...
21995      eggs     pasta      beef  potatoes      rice  tomatoes   onions
21996     pasta    cheese   carrots    onions   lettuce    apples    bread
21997   lettuce    apples      milk      beef     bread      rice     pork
21998      milk  potatoes   chicken     bread      beef  tomatoes    pasta
21999  potatoes   bananas    cheese      milk   lettuce  tomatoes    bread

[22000 rows x 7 columns]

## ECLAT

In [4]:
# minimum support
min_support = 0.1
# start from transactions containing at least 2 items and at most 7 items
min_combination = 1
max_combination = 7

In [ ]:
my_eclat = ECLAT(data=data, verbose=False )
start_time = time.time()
# fit the algorithm
rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_combination,
                                           max_combination=max_combination)
print("--- Total runtime of ECLAT implementation is: %s seconds ---" % (time.time() - start_time))

Combination 1 by 1

16it [00:00, 86.76it/s]

Combination 2 by 2

120it [00:01, 99.72it/s]

Combination 3 by 3

560it [00:02, 208.04it/s]

Combination 4 by 4

1820it [00:08, 217.98it/s]

Combination 5 by 5

4368it [00:19, 220.50it/s]

Combination 6 by 6

8008it [00:53, 149.79it/s]

Combination 7 by 7

6751it [00:37, 191.56it/s]

In [6]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

                   Item   Support
9               lettuce  0.442864
8                apples  0.441500
0              potatoes  0.441364
12                 milk  0.440864
3               bananas  0.440182
..                  ...       ...
81   tomatoes & chicken  0.170091
91       chicken & eggs  0.170091
134    cheese & carrots  0.170091
95       chicken & pork  0.169045
98     chicken & onions  0.169000

[136 rows x 2 columns]